
<%= form_for :job, url: jobs_path do |job| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@job.errors.count, "error") %> prevented
        this job from being saved:
      </h2>
      <ul>
        <% @job.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= job.text_field :jobTitle, :placeholder => "Title" %>
  </p>
  <p>
    <%= job.text_area :description, :placeholder => "Body" %>
  </p>
  <p>
    <%= job.label "Start" %>
    <%= job.select :origin,[["Miami"],["New York"],["Toronto"]]%>
  </p>
  <p>
    <%= job.label "End" %>
    <%= job.select :destination,[["Miami"],["New York"],["Toronto"]]%>
  </p>
  <p><%= job.label "Add Boats" %>
     <%= job.collection_check_boxes :ship_ids, Ship.all, :id, :name %>

  </p>
  <p>
    <%= job.number_field :containersNeeded, :placeholder => "Total Containers" %>
  </p>
  <%=job.number_field :jobCost,
    :placeholder => "Total Cost" %>
  <p>
    <%= job.submit "Create Job" %>
  </p>
<% end %>
</div>



<%= link_to 'Back', jobs_path %>
