
<%= form_for :job, url: jobs_path do |job| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@job.errors.count, "error") %> prevented
        this job from being saved:
      </h2>
      <ul>
        <% @job.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= job.text_field :jobTitle, :placeholder => "Title" %>
  </p>
  <p>
    <%= job.text_area :description, :placeholder => "Body" %>
  </p>
  <p>
    <%= job.label "Start" %>
    <%= job.select :origin,[["Miami"],["New York"],["Toronto"]]%>
  </p>
  <p>
    <%= job.label "End" %>
    <%= job.select :destination,[["Miami"],["New York"],["Toronto"]]%>
  </p>
  <p>
    <%= job.fields_for :ship_jobs do |ship| %>
   <%= ship.label :ship_id %><br>
   <%= ship.collection_select :ship_id, Ship.all, :id, :name, {include_blank: true}, {:multiple => true, :class=>""} %>
 <% end %>
  </p>
  <p>
    <%= job.number_field :containersNeeded, :placeholder => "Total Containers" %>
  </p>
  <%=job.number_field :jobCost,
    :placeholder => "Total Cost" %>
  <p>
    <%= job.submit "Create Job" %>
  </p>
<% end %>
</div>



<%= link_to 'Back', jobs_path %>
