
<h1 class="JobTitle">
  Work Order:
  <a id="insideWorkOrder" href="">
    <%=@job.jobTitle%>
  </a>
</h1>

<div id="jobShowBackground">
  <div id="jobShowContainer">
    <p>
      <strong>Request:</strong>
      <%= @job.description %>
    </p>
    <p>
      <strong>Cost:</strong>
      <%= @job.jobCost %>
    </p>
    <p>
      <strong>Containers:</strong>
      <%= @job.containersNeeded %>
    </p>
    <p>
      <strong>Ships Assigned: <%= @job.ship_ids.length %></strong>
      <% @ships.each do |ship| %>
      <ul>
      <li>
        <%= ship.name %>
      </li>
      <li>
        <%= ship.containers %>
        container(s)
      </li>
    </ul>
    <hr>
      <% end %>
      <%= link_to 'Active Jobs', root_path %>
    </p>
  </div>
</div>


<div id="editjobModal">
  <%= link_to 'Remove', job_path(@job), method: :delete, remote: true  %><br>
  <%= form_for @job do |form| %>

  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@job.errors.count, "error") %> prohibited
        this job from being saved:
      </h2>
      <ul>
        <% @job.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :jobTitle %><br>
    <%= form.text_field :jobTitle %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description%>
  </p>
  <p>
    <%= form.label :jobCost %><br>
    <%= form.text_area :jobCost%>
  </p>
  <p><%= form.label "Add Boats" %>
     <%= form.collection_check_boxes :ship_ids, Ship.all, :id, :name %>
  </p>
  <p>
    <%= form.label :containersNeeded %><br>
    <%= form.text_area :containersNeeded%>
  </p>
  <p id="editUpdate">
   <%= form.submit %>
  </p>
  <% end %>
</div>
