
<h1 id="listAllJobs"> Active Jobs </h1>

<div id="backgroundHome">
  <div id="listJobContainer">
    <% @jobs.each do |job| %>
    <p id="homejobs">
      <%= job.jobTitle %><strong> | Start: </strong>
      <%= job.origin %><strong> | End: </strong>
      <%= job.destination %>
      <%= link_to 'View', job_path(job) %>
      <%= link_to 'Edit', edit_job_path(job) %>
      <%= link_to 'Remove', root_path, method: :delete %><br>
      <hr>
    </p>
    <% end %>
  </div>
</div>
